@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
}
body {
  max-width: 1920px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #f7f7f7;
}
label {
  color: #f7f7f7;
}
